

<% @my_curiosities.each do |curiosity| %>
<h1><%= curiosity.name %></h1>
<p><%= curiosity.description %></p>
<img title="<%= curiosity.image_text %>" src="<%= curiosity.image_url %>"></img>
<p><%= link_to 'More information', curiosity_path(curiosity) %></p>

<p><%= link_to('<button  type="button" class="btn btn-default btn-lg"> delete <span class"glyphicon glyphicon-star" aria-hidden="true"></span></button>'.html_safe, curiosity_path(curiosity), method: :delete, data: {confirm: 'Message de confirmation'}) %></p>


<% end %>


